<%= link_to('Back to Homepage', {controller: 'main', action: 'index'}) %><br />

<% flash.each do |key, message| %>
  <div class="flash <%= key %>"><%= message %></div>
<% end %>

<div class="books index">
  <h2>Books</h2>
  <%= link_to("Add New Book", new_book_path, class: 'action new') %>
  <table class="listing" summary="Book list" style="width: 100%;">
    <tr class="header">
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Published Date</th>
      <th>Actions</th>
    </tr>
    <% @books.each_with_index do |book, idx| %>
    <tr>
      <td><%= idx + 1 %></td>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= number_to_currency(book.price) %></td>
      <td><%= book.published_date %></td>
      <td class="actions">
        <%= link_to("Show", book_path(book), class: 'action show') %>
        <%= link_to("Edit", edit_book_path(book), class: 'action edit') %>
        <%= link_to("Delete", delete_book_path(book), method: :delete, data: { confirm: "Are you sure?" }, class: 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>