<%= link_to("Back to List", books_path, class: 'back-link') %>

<div class="books show">
  <h2>Show Book</h2>

  <div class="actions">
    <%= link_to('Edit', edit_book_path(@book)) %>
    <%= link_to('Delete', delete_book_path(@book), method: :delete, data: { confirm: "Are you sure?" }) %>
  </div>

  <table summary="Book detail view">
    <tr>
      <th>Title</th>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= @book.author %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= number_to_currency(@book.price) %></td>
    </tr>
    <tr>
      <th>Published Date</th>
      <td><%= @book.published_date.strftime("%B %d, %Y") %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @book.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @book.updated_at %></td>
    </tr>
  </table>
</div>